<ccda-section>
  <allergies if={ props.current.tagName == 'allergies' } section={ props.current } data={ sectionData } />
  <medications if={ props.current.tagName == 'medications' } section={ props.current } data={ sectionData } />
  <generic if={ props.current.tagName == 'generic' } section={ props.current } data={ sectionData } />

  <script>
    export default {
      onBeforeMount(props) {
        this.sectionData = props.allData[props.current.key];
      },

      onBeforeUpdate(props) {
        this.sectionData = props.allData[props.current.key];
      }
    }
  </script>
</ccda-section>
