<app-header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <span class="navbar-brand" if={ props.data }>
        { props.data.document.title + ' - ' }<name name={ props.data.demographics.name } class="text-muted"/>
      </span>
      <span class="navbar-brand" if={ !props.data }>
        Loading...
      </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" if={ props.sections && props.sections.length }>
            <a class="jump-to nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Jump to
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Top</a>
            <div class="dropdown-divider"></div>
                <a each={ section in props.sections } class="dropdown-item" href={ '#' + section.key }>
                  <i class={ 'fa fa-' + section.icon } aria-hidden="true"></i>{ ' ' + section.display }
                </a>
            </div>
          </li>
          <li class={ props.showPreferences ? 'active' : '' } if={ props.sections }>
            <a class="nav-link dropdown-toggle" href="#" onclick={ showPreferences }>
              <i class="fa fa-lg fa-cog"></i>
            </a>
          </li>
        </ul>
    </div>
  </nav>

  <script>
    import * as _ from 'lodash';
    import { DocumentsService } from '../services';

    export default {
      onBeforeMount() {
        this.service = new DocumentsService();
      },

      onBeforeUpdate(props, state) {
        if (props.documents && props.documents.length) {
          var noneSelected = props.documents.filter(function(x) { return x.active; }).length === 0;
          if (noneSelected) {
            props.documents[0].active = true;
          }
        }
      },

      load(e) {
        e.preventDefault();
        this.toggleActive(e.target._item || e.item);
        this.service.open(e.target._item || e.item).then((options) => {
          if (!options) return;
          this.props.onLoadDocument(options);
        });
      },

      showPreferences(e) {
        e.preventDefault();
        this.props.onShowPreferences();
      },

      toggleActive(document) {
        _.each(this.props.documents, function(d) {
          d.active = false;
        });
        document.active = true;
      }
    }
  </script>
</app-header>
