<preference-section>
  <li class="list-group-item preferences-section text-end">
    <label class="checkbox-inline pull-left">
      <input type="checkbox" checked={ props.section.enabled } onchange={ change }>{ ' ' }<i class={ 'fa fa-' + props.section.icon }></i>{ ' ' + props.section.display }
    </label>
    <i class="fa fa-bars" title="Drag to sort"></i>
  </li>

  <script>
    export default {
      onMounted() {
        this.root.key = this.props.section.key;
      },

      onUpdated() {
        this.root.key = this.props.section.key;
      },

      change(e) {
        this.props.section.enabled = e.target.checked;
        this.update();
      }
    }
  </script>
</preference-section>
