<raw>
  <span></span>

  <script>
    import { bootstrapize } from '../utilities/htmlhelpers';

    export default {
      onMounted(props) {
        this.root.innerHTML = bootstrapize(props.content);
      },

      onUpdated(props) {
        this.root.innerHTML = bootstrapize(props.content);
      }
    }
  </script>
</raw>
