<sialia>
  <app-header
    data={ state.data }
    sections={ state.sections }
    documents={ state.documents }
    show-preferences={ state.showPreferences }
    on-show-preferences={ showPreferencesHandler }
    on-load-document={ loadDocumentHandler }
  />
  <div class="container-fluid sialia-body" if={ state.data }>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <demographics demographics={ state.data.demographics }/>
      </div>
      <div class="col-lg-8 col-sm-8" id="right" if={ state.showPreferences && !state.showNonXml }>
        <preferences sections={ state.sections } pref={ state.pref } on-close-preferences={ closePreferencesHandler } />
      </div>
      <div class="col-lg-8 col-sm-8" id="right" if={ !state.showPreferences && !state.showNonXml }>
        <ccda-section each={ section in state.sections } current={ section } all-data={ state.data }/>
      </div>
      <div class="col-lg-8 col-sm-8" id="right" if={ state.showNonXml }>
        <nonxml nonxml={ state.data.document.type.nonXmlBody } />
      </div>
    </div>
  </div>

  <script>
    export default {
      state: {
        data: null,
        sections: [],
        documents: [],
        pref: null,
        showPreferences: false,
        showNonXml: false
      },

      onBeforeUpdate(props, state) {
        state.showNonXml = state.data && state.data.document.type.nonXmlBody.type;
      },

      showPreferencesHandler() {
        this.update({ showPreferences: true });
      },

      closePreferencesHandler() {
        this.update({ showPreferences: false });
      },

      loadDocumentHandler(options) {
        this.update({
          ...options,
          showPreferences: !options.pref.isSet
        });
      }
    }
  </script>
</sialia>
