<medications>
    <panel section={ props.section } data={ props.data }>
        <div each={ entry in props.data.entries }>
            <div class="row">
                <div class="col-md-12">
                    <div class="header-row">
                        { entry.text }
                        <span class="header-date pull-right">
                             <span class="header-small">{ entry.date_range.start_display } - { entry.date_range.end_display }</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-borderless">

                        <tbody>
                        <tr>
                            <th>
                                <span class="header-small">Admin</span>
                            </th>
                            <td>
                                <span>{ entry.administration.name } [{ entry.administration.code }]</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="header-small">Schedule</span>
                            </th>
                            <td>
                                <span>{ entry.schedule.type } { entry.schedule.period_value }{ entry.schedule.period_unit }</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="header-small">Dose</span>
                            </th>
                            <td>
                                <span>{ entry.dose_quantity.value } { entry.dose_quantity.unit }</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <span class="header-small">Rate</span>
                            </th>
                            <td>
                                <span>{ entry.rate_quantity.value } { entry.rate_quantity.unit }</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-borderless">

                        <tbody>
                        <tr>
                            <th>
                                <span class="header-small">Route</span>
                            </th>
                            <td>
                                <span>{ entry.route.name }</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="header-small">Vehicle</span>
                            </th>
                            <td>
                                <span>{ entry.vehicle.name } [{ entry.vehicle.code_system_name } { entry.vehicle.code }]</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="header-small">Prescriber</span>
                            </th>
                            <td>
                                <span>{ entry.prescriber.organization }</span>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <span class="header-small"><b>Reason</b></span>
                    <p class="reasons">{ entry.reason.name }</p>
                </div>
            </div>
        </div>
    </panel>


    <script>
        import { format } from 'date-fns';
        import * as _ from 'lodash';

        export default {
            onBeforeUpdate(props) {
                _.each(props.data.entries, function(e) {
                    e.date_range.start_display = format(new Date(e.date_range.start), 'MMM d, yyyy');
                    e.date_range.end_display = format(new Date(e.date_range.end), 'MMM d, yyyy');
                });
            }
        }
    </script>
</medications>
